<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script th:src="@{/js/customer.js}"></script>
</head>
<body>
<h1>Login Form</h1>

<label for="login">Email</label>
<input type="text" id="username" name="uname" placeholder="Enter Username"><br>

<label for="password">Password</label>
<input type="text" id="password" name="psw" placeholder="Enter Password"><br>

<button type="submit">Login</button>

</body>